<header>

    <h4>Follow Us:</h4>       &nbsp;&nbsp;
    <a href="#"><img src="assets/facebookicon_01.png" alt="" ></a>    &nbsp; &nbsp;
    <a href="#"><img src="assets/twittericon_01.png" alt=""></a>
    <ul class="left_menu" >
        <li >
            <a href="#">Home</a> |
        </li>
        &nbsp;  &nbsp;
        <li>
            <a href="#">Login</a> |
        </li>
        &nbsp;  &nbsp;
        <li>
            <a href="#">Join</a> |
        </li>
        &nbsp;  &nbsp;
        <li>
            <a href="#">Contact</a>
        </li>
        <!-- <a href=""><li>Home</li></a>
        <a href="">|<li>Login</li></a> 
        <a href=""><li>FeedBack</li></a> -->
        </ul>
   <div class="search" >
   
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        
       
      </form>
      
      
      
       
      
   </div>
   
</header>
<div class="box" >
    <div class="nav">
        <img src="assets/logo.png" alt="">
        <nav>
            <b>Hotel Association <br>
                of mount abu</b>
            <ul >
<!-- <li>
    <a class="navbar-brand" href="#">About Hama</a>
</li> -->
<li>
    <a class="navbar-brand" href="#">Organization</a>
</li>
<li>
    <a class="navbar-brand" href="#">Membership</a>
</li>
<li>
    <a class="navbar-brand" href="#">Activities & Milestones</a>
</li>
<li>
    <a class="navbar-brand" href="#">Publication</a>
</li>
<li>
    <a class="navbar-brand" href="#">Network / Affiliation</a>
</li>
</ul>
          
           

        </nav>

    </div>