<div class="footer">
    <footer style="width: 100%;">
        <div class="main-content">
            <div class="left box">
                <h5>About HAMA</h5>
                <div class="content">
                    <ul>
                        <li ><a href="#">About HAMA</a></li>
                        <li><a href="#">Mission</a></li>
                        <li><a href="#">Objectives</a></li>

                    </ul>
                    <h5>Network / Affilliation</h5>
                    <ul>
                        <li><a href="#">About HAMA</a></li>
                        <li><a href="#">Mission</a></li>
                        <li><a href="#">Objectives</a></li>

                    </ul>
                    <!-- <div class="social">

                        <a href="#"><span class="fa fa-facebook-f"></span></a>
                        <a href="#"><span class="fa fa-twitter"></span></a>
                        <a href="#"><span class="fa fa-instagram"></span></a>
                        <a href="#"><span class="fa fa-linkedin"></span></a>
                    </div> -->
                </div>
            </div>
            <div class="center box">
                <h5>Organization</h5>
                <div class="content">
                    <div class="organization" style=" margin: 10px 0;">
                       <ul>
                           <li>
                               <a href="#">
                                   What We Do
                               </a>
                           </li>
                           <li>
                            <a href="#">
                                Management Committee 2020-21
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Executive Committee 2020-21
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               HAMA Secretariat
                            </a>
                        </li>
                       </ul>
                    </div>
                </div>
            </div>

            <div class="right box">
                <h5>Membership</h5>
                <div class="contact">
                   <ul>
                       <li>
                       <a href="#">
                           Why should you be a Member?
                       </a>
                   </li>
                   <li>
                    <a href="#">
                        Our Member Profile
                    </a>
                </li>
                <li>
                    <a href="#">
                       Membership Detail
                    </a>
                </li>
                <li>
                    <a href="#">
                        Discount Card Details
                    </a>
                </li>
                <li>
                    <a href="#">
                        List of HAMA Member Hotels
                    </a>
                </li>
                <li>
                    <a href="#">
                        List of HAMA Associate Members
                    </a>
                </li>
                </ul>
                </div>
            </div>

            <div class="right box">
                <h5>Activities & Milestones</h5>
                <div class="contact">
                   <ul>
                       <li>
                       <a href="#">
                          6th HAMA HAND HYGIENE CELEBRATIONS
                       </a>
                   </li>
                   <li>
                    <a href="#">
                        5th MAY 2020
                    </a>
                </li>
                <li>
                    <a href="#">
                       22nd HAMA World Environment Day
                    </a>
                </li>
                <li>
                    <a href="#">
                        Celebrations 5th June 2020
                    </a>
                
                </ul>
                </div>
            </div>

        </div>
        <div class="footer-bottom">
            &copy; Copyright 2020. All Rights Reserved. Designed, Developed and Maintained by <a href="#">Elite Mantra</a> 
            
        </div>
    </footer>
