
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<app-header></app-header>
 <div class="body">

    <app-login></app-login>
<!--<div class="container">
  <div class="close">
    <li class="fa fa-times"></li>
  </div>
  

  <div class="popup">
  
    <h2>Member Login</h2>
    <div class="form-group input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <li class="fa fa-envelope">

          </li>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Enter Email" formControlName="email" aria-label="Username" aria-describedby="basic-addon1">
      <small   class="form-text text-danger w-100">Please Enter Emaill</small>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">
        <li class="fa fa-lock">

        </li>  
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Enter Password" aria-label="Username" formControlName="password" aria-describedby="basic-addon1" >
      <small class="form-text text-danger w-100">Please Enter Emaill</small>
    </div>
    <div class="input-group">
      <button type="submit"  class="btn btn-block btn-outline-primary  "> Login</button>
    </div>
   
    <div class="input-group">
      <a href="#" >
            
            </a>
        <br>
      
  
    </div>

    

  </div>
</div>
 -->

<!-- <header>

  <h4>Follow Us:</h4>       &nbsp;&nbsp;
  <a href="#"><img src="assets/facebookicon_01.png" alt="" ></a>    &nbsp; &nbsp;
  <a href="#"><img src="assets/twittericon_01.png" alt=""></a>
  <ul class="left_menu" >
      <li >
          <a href="#">Home</a> |
      </li>
      &nbsp;  &nbsp;
      <li>
          <a href="#">Login</a> |
      </li>
      &nbsp;  &nbsp;
      <li>
          <a href="#">Join</a> |
      </li>
      &nbsp;  &nbsp;
      <li>
          <a href="#">Contact</a>
      </li>
      
      </ul>
 <div class="search" >
 
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      
     
    </form>
    
    
    
     
    
 </div>
 
</header> -->

<!-- <div class="box" >
  <div class="nav">
      <img src="assets/logo.png" alt="">
      <nav>
          <b>Hotel Association <br>
              of mount abu</b>
          <ul >

<li>
  <a class="navbar-brand" href="#">Organization</a>
</li>
<li>
  <a class="navbar-brand" href="#">Membership</a>
</li>
<li>
  <a class="navbar-brand" href="#">Activities & Milestones</a>
</li>
<li>
  <a class="navbar-brand" href="#">Publication</a>
</li>
<li>
  <a class="navbar-brand" href="#">Network / Affiliation</a>
</li>
</ul>
        
         

      </nav>

  </div> -->



<!-- <div class="footer">
  <footer style="width: 100%;">
      <div class="main-content">
          <div class="left box">
              <h5>About HAMA</h5>
              <div class="content">
                  <ul>
                      <li ><a href="#">About HAMA</a></li>
                      <li><a href="#">Mission</a></li>
                      <li><a href="#">Objectives</a></li>

                  </ul>
                  <h5>Network / Affilliation</h5>
                  <ul>
                      <li><a href="#">About HAMA</a></li>
                      <li><a href="#">Mission</a></li>
                      <li><a href="#">Objectives</a></li>

                  </ul>
                  
              </div>
          </div>
          <div class="center box">
              <h5>Organization</h5>
              <div class="content">
                  <div class="organization" style=" margin: 10px 0;">
                     <ul>
                         <li>
                             <a href="#">
                                 What We Do
                             </a>
                         </li>
                         <li>
                          <a href="#">
                              Management Committee 2020-21
                          </a>
                      </li>
                      <li>
                          <a href="#">
                             Executive Committee 2020-21
                          </a>
                      </li>
                      <li>
                          <a href="#">
                             HAMA Secretariat
                          </a>
                      </li>
                     </ul>
                  </div>
              </div>
          </div>

          <div class="right box">
              <h5>Membership</h5>
              <div class="contact">
                 <ul>
                     <li>
                     <a href="#">
                         Why should you be a Member?
                     </a>
                 </li>
                 <li>
                  <a href="#">
                      Our Member Profile
                  </a>
              </li>
              <li>
                  <a href="#">
                     Membership Detail
                  </a>
              </li>
              <li>
                  <a href="#">
                      Discount Card Details
                  </a>
              </li>
              <li>
                  <a href="#">
                      List of HAMA Member Hotels
                  </a>
              </li>
              <li>
                  <a href="#">
                      List of HAMA Associate Members
                  </a>
              </li>
              </ul>
              </div>
          </div>

          <div class="right box">
              <h5>Activities & Milestones</h5>
              <div class="contact">
                 <ul>
                     <li>
                     <a href="#">
                        6th HAMA HAND HYGIENE CELEBRATIONS
                     </a>
                 </li>
                 <li>
                  <a href="#">
                      5th MAY 2020
                  </a>
              </li>
              <li>
                  <a href="#">
                     22nd HAMA World Environment Day
                  </a>
              </li>
              <li>
                  <a href="#">
                      Celebrations 5th June 2020
                  </a>
              
              </ul>
              </div>
          </div>

      </div>
      <div class="footer-bottom">
          &copy; Copyright 2020. All Rights Reserved. Designed, Developed and Maintained by <a href="#">Elite Mantra</a> 
          
      </div>
  </footer>
</div> -->
<!-- *ngIf="isSignedIn" (isLogout)="handlelogout()" -->


<app-footer></app-footer>